.autoCompleteContainer {

    /* just for tweeking */
    list-style: none;
    background-color: transparent;
    padding-left: 0 !important;
    color: #9e9e9e;
    border-top: 1px solid lightgray;

    /* hiding the overflow */
    overflow-y: paged-y !important;
    overflow-x: hidden !important;
    margin-bottom: 0px !important;
}

.navigationSelector > .autoCompleteContainer {
    width: inherit;
    height: calc(100vh - 150px - 40px);
    cursor: pointer;
}

.searchBar > .autoCompleteContainer {
    max-width: 400px;
    width: calc(100vw - 20px);
    min-width: 250px;
    height: calc(45px * 6);
}

.searchBar > input:focus + .autoCompleteContainer {
    height: 0px !important;
}

.autoCompleteContainer::-webkit-scrollbar-track {
    visibility: collapse;

}

.autoCompleteContainer::-webkit-scrollbar {

    /* just for tweeking */
    width: 0px;
    background-color: transparent;
}

.autoCompleteContainer::-webkit-scrollbar-thumb {

    /* just for tweeking */
    border-radius: 10px;
    background-color: #e8e8e8;
}

.autoCompleteContainerItem  {

    /* just for tweeking */
    height: 45px;
    display: flex;
    width: inherit;
    padding-top: 4px;
    background: white;
}

.autoCompleteContainerItem:hover {

    /* just for tweeking */
    background-color: #e8e8e8;
}

.autoCompleteContainerItem .iconContainer {

    /* just for tweeking */

}

.autoCompleteContainerItem img {

    /* just for tweeking */
    height: 20px;
    margin-top: 9px;
    margin-left: 35px;
    margin-right: 35px;
}


.autoCompleteContainerItem .textContainer {
    flex: 1; /* for the gray line */
    display: flex; /* to align the room and desc. properly */

    /* just for tweeking */
    color: #9e9e9e;
    border-bottom: 1px solid lightgray;
}

.autoCompleteContainerItem div p {
    width: max-content; /* so it doesnt deform */

    /* just for tweeking */
    height: 25px;
    margin-top: 8px;
    margin-left: 3px;
    color: black;
    font-size: 14px;
}


.autoCompleteContainerItem small {
    width: max-content; /* so it doesnt deform */

    /* just for tweeking */
    height: 25px;
    margin-top: 8px;
    margin-left: 6px;
    color: #919191;
    font-size: 14px;

}