.navigationSlider {
    position: fixed;
    top: 0;
    min-width: 250px;
    max-width: 420px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease-in;
}

.navigationSlider.visible {
    transform: translate(0vw, 0);
}

.navigationSlider.closed {
    transform: translate(-200vw, 0);
}

.navigationSlider .closeContainer {
    background-color: #4791f7;
    height: 40px;
}


.navigationSlider .closeContainer .iconContainer{
    height: 40px;
    float: right;
    margin-right: 10px;
}

.navigationSlider .closeContainer .iconContainer svg {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;
    fill: #ffffff;
}

