.navigationSelector .blueContainer {
    /* tweeking */
    width: 100%;
    height: 152px;
    background-color: #4791f7;
}

.navigationSelector .routingContainer {
    display: flex; /* activating flex */
    flex-flow: row; /* so the content gets aligned in a row */


    /* tweeking */
    width: 100%;
    height: 96px;
}

.navigationSelector .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.navigationSelector .modeContainer{
    display: flex;
    height: 56px;
    padding: 10px 10px 10px 65px;
}

.navigationSelector .modeContainer .iconContainer{
    height: 42px;
    width: 47px;
    cursor: pointer;
}

.navigationSelector .modeContainer .closeContainer{
    float: right;
}

.navigationSelector .modeContainer .iconContainer .circleContainer{
    margin-left: 2.5px;
    height: 42px;
    width: 42px;
}

.navigationSelector .modeContainer .iconContainer .selected{
    border-radius: 20px;
    background: #4774d3;
}

.navigationSelector .modeContainer .iconContainer .circleContainer svg{
    height: 30px;
    width: 30px;
}

.navigationSelector .modeContainer .iconContainer .circleContainer .walk{
    margin-top: 6px;
    margin-left: 8px;
}

.navigationSelector .modeContainer .iconContainer .circleContainer .clock{
    margin-top: 6px;
    margin-left: 6px;
}

/*#region leftContainer*/

.navigationSelector .leftContainer{
    order: 0; /* to align it left */
    flex-shrink: 0; /* to make it unshrinkable */

    /* tweeking */
    height: inherit;
    width: 70px;
}

.navigationSelector .leftContainer .beginningContainer{
    /* tweeking */
    margin-bottom: -12px;
}

.navigationSelector .leftContainer .beginningContainer svg{
    /* quick maths */
    margin-left: 29.5px;

    /* tweeking */
    width: 11px;
    margin-top: 13px;
}

.navigationSelector .leftContainer .dotContainer{
    /* tweeking */
    height: 8px;
}

.navigationSelector .leftContainer .dotContainer svg{
    /* quick maths */
    margin-top: 7px;
    margin-left: 32.5px;

    /* tweeking */
    width: 5px;
}

.navigationSelector .leftContainer .dotContainer svg path{
    fill: rgba(255, 255, 255, 0.60);
}

.navigationSelector .leftContainer .destinationContainer{
    /* tweeking */
    margin-top: 9px;
}

.navigationSelector .leftContainer .destinationContainer svg{
    /* quick maths */
    margin-left: 29.5px;

    /* tweeking */
    width: 11px;
}

/*#endregion leftContainer*/

/*#region rightContainer*/

.navigationSelector .rightContainer{
    order: 2; /* to align it right */
    flex-shrink: 0; /* to make it unshrinkable */

    /* tweeking */
    height: inherit;
    width: 70px;
}

.navigationSelector .rightContainer svg{

    /* quick maths */
    margin-left: 26.5px;
    margin-top: 27px;

    /* tweeking */
    cursor: pointer;
    transition: all 0.15s ease;
    width: 17px;
}

.navigationSelector .rightContainer svg:hover path {
    /* tweeking */
    fill: rgba(255, 255, 255, 0.85);
}

/*#endregion rightContainer*/

/*#region inputContainer*/

.navigationSelector .inputContainer {
    flex-shrink: 1; /* to make it shrinkable */
    flex-grow: 1; /* to make it growable */
    order: 1; /* to align it in the middle */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    margin-bottom: 20px;

    -webkit-flex-flow: column;
    justify-content: space-around;


    display: flex;
    flex-direction: column;
}

.navigationSelector .group 	{
    height: fit-content;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
}

.navigationSelector input {
    width: 100%;
    background: transparent;
    font-size: 15px;
    padding: 4px 4px 4px 0px;
    font-weight: 200;

    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;

}

.navigationSelector input:focus{
    outline: none;
}


.navigationSelector label {
    color: rgba(255, 255, 255, 0.47);
    font-size: 13px;
    font-weight: 100;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 7px;
}

.navigationSelector input:required:valid ~ label{
    color: transparent;
}

/*#endregion inputContainer*/