.navigationSlider {
    position: fixed;
    top: 0;
    min-width: 200px;
    max-width: 420px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s ease-in;

}

.navigationSlider.visible {
    transform: translate(0vw, 0);
}

.navigationSlider.closed {
    transform: translate(-200vw, 0);
}

.navigationSlider .closeContainer {
    background-color: #4897ff;
    height: 40px;
}


.navigationSlider .closeContainer .imageContainer{
    height: 40px;
    float: right;
    margin-right: 10px;
}

.navigationSlider .closeContainer .imageContainer img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    cursor: pointer;

    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navigationSlider .closeContainer .imageContainer img:hover{
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}