.navigationSelector {
    width: 100%;
    height: 150px;
    background-color: #4897ff;
    font-family: 'Roboto' !important
}

.navigationSelector .container {
    width: 100%;
}


/*
    icons
 */
.navigationSelector .iconContainer{
    width: 65px;
    height: inherit;
    align-content: center;
    align-items: center;
    vertical-align: center;
}

.navigationSelector .rightContainer{
    float: right
}

.navigationSelector .rightContainer img{
    margin-top: 107%;
    margin-left: 25%;
    height: 20%;
    width: 40%;
    cursor: pointer;

    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navigationSelector .rightContainer img:hover{
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.navigationSelector .leftContainer{
    float: left;
}

.navigationSelector .leftContainer .beginingImg{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;

    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navigationSelector .leftContainer .beginingImg:hover{
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.navigationSelector .leftContainer .destinationImg{
    width: 30%;
    margin-left: 35%;
    margin-top: 8px;
    cursor: pointer;

    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.navigationSelector .leftContainer .destinationImg:hover{
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.navigationSelector .leftContainer .dotContainer{
    margin-top: -5px;
    margin-bottom: -5px;
}

.navigationSelector .leftContainer .dotImg{
    height: 7px;
    margin-left: calc((100% - 7px) / 2);
}



/*
    input
 */
.navigationSelector .inputContainer {
    float: left;
    width: calc(100% - 130px);
    height: inherit;
}

.navigationSelector * {
    box-sizing: border-box;
}

/* form starting stylings ------------------------------- */
.navigationSelector .group 	{
    height: fit-content;
    position: relative;
    margin-bottom: 30px;
}

.navigationSelector input {
    width: 100%;
    background: transparent;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.navigationSelector input:focus{
    outline: none;
}

.navigationSelector label {
    color: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.navigationSelector input:focus ~ label, input:valid ~ label{
    top: -20px;
    font-size: 14px;
    color: white;
}

/* BOTTOM BARS ================================= */
.navigationSelector .bar 	{
    position: relative;
    display: block;
    width: inherit;
}

.navigationSelector .navigationSelector .bar:before, .bar:after{
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: white;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.navigationSelector .bar:before {
    left: 50%;
    left: 50%;
}

.navigationSelector .bar:after {
    right: 50%;
}

/* active state */
.navigationSelector input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.navigationSelector .highlight {
    position: absolute;
    height: 60%;
    width: 0;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.navigationSelector input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* active state */
.navigationSelector input:focus ~ label, input:valid ~ label {
    top: -11px;
    font-size: 14px;
    color: white;
}

/* BOTTOM BARS ================================= */
.navigationSelector .bar 	{
    position: relative;
    display: block;
    width: inherit;
}

.navigationSelector .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: white;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.navigationSelector .bar:before {
    left: 50%;
    left: 50%;
}
.navigationSelector .bar:after {
    right: 50%;
}

/* active state */
.navigationSelector input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.navigationSelector .highlight {
    position: absolute;
    height: 60%;
    width: inherit;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.navigationSelector input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}



