body {
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    touch-action: none;
}

* {
    z-index: 2;
    font-family: 'Roboto', serif !important;
}

.toast {
    opacity: 0.95 !important;
}