.mapContainer {
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background-color: ghostwhite;
}

svg .navLine {
    stroke: red;
    stroke-width: 10px;
}

svg text{
    -webkit-user-select:none;
    pointer-events: none;
}

svg rect[fill="#e5e5e5"]:hover{
    fill: #b7b7b7;
    stroke: #000000;
    cursor:  pointer;
}

svg rect[fill="#515151"]:hover{
    fill: #818181;
    stroke: #818181;
}

svg path[fill="#000000"]{
    pointer-events: none;
}